body {
  background: #dfdfdf;
  font-family: sans-serif;
}

.card {
  width: 60%;
  background: #fff;
  margin: 0px auto;

  border: 10px solid white;
}

.title {
  margin-top: 0px;
  margin-bottom: 10px;

  background: #e3f4ff;
  padding: 2%;
}

.content {
  margin-top: 0px;
  margin-bottom: 10px;
  
  background: #e3f4ff;
  padding: 2%;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 1%;
  margin: 1%;
}